<ion-header>
  <ion-toolbar>
    <ion-title>
      CAMERA APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            LOGIN
          </ion-card-title>
          <ion-avatar>
            <img src="https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png" alt="">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label> Username: </ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password: </ion-label>
            <ion-input type="Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-button> SING IN</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
